@import url('https://fonts.cdnfonts.com/css/wavehaus');
@import url('https://fonts.cdnfonts.com/css/chiffonepersonaluse');


@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);    
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: #FFF8CE;
}

.presentation {
  margin-top: 100px;
  margin-left: 900px;
}

#NaranjiLogo {
  width: 120px;
  height: 185px;
}

#greetings {
  margin-left: -70px;
  font-size: 50px;
  font-family: 'ChiffonePersonalUse', serif;
  color: #ff8e24;
}

#Tagline {
  margin-left: -130px;
  font-family: 'ChiffonePersonalUse', serif;
  color: #293A15;
}

#Description {
  margin-left: -600px;
  margin-top: 10px;
  font-size: 60px;
  color: #293A15;
  font-family: 'Wavehaus', sans-serif;
}

#open-button {
  margin-left: -40px;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  background-color: #5A7011;
  color: #FFF8CE;
  cursor: pointer;
  font-family: 'Wavehaus', sans-serif;
}


#open-button:hover {
  background-color: #223809;
}

#given-secret-key {
  display: block;
  margin-top: -15px;
  margin-left: -180px;
  width: 500px;           /* Set a specific width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 90px;
  font-family: 'Wavehaus', sans-serif;
  outline: none;

 
  text-align: center;    
  color: #000000;         
  font-weight: bold;     
  font-size: 18px;        
}