@import url('https://fonts.cdnfonts.com/css/wavehaus');
@import url('https://fonts.cdnfonts.com/css/chiffonepersonaluse');

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(10px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);    
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This helps with width calculations later */
}

body {
    background-color: #FFF8CE;
}

.presentation {
    margin-top: 100px;
    margin-left: 900px;
}

#NaranjiLogo {
    width: 120px;
    height: 185px;
}

#Naranji {
    margin-left: -40px;
    font-size: 60px;
    font-family: 'ChiffonePersonalUse', serif;
    color: #293A15;
}

#Tagline {
    margin-left: -130px;
    font-family: 'ChiffonePersonalUse', serif;
    color: #293A15;
}

#Description {
    margin-left: -620px;
    margin-top: 50px;
    font-size: 40px;
    color: #293A15;
    font-family: 'Wavehaus', sans-serif;
}

#GetStarted {
    margin-left: -40px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #5A7011;
    color: #FFF8CE;
    cursor: pointer;
    font-family: 'Wavehaus', sans-serif;
}


#GetStarted:hover {
    background-color: #223809;
}