@import url('https://fonts.cdnfonts.com/css/wavehaus');
@import url('https://fonts.cdnfonts.com/css/chiffonepersonaluse');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; 
  background-color: #FFF8CE; 
}

.recovery-container {
  padding: 20px;
  max-width: 500px; 
  margin: 0 auto;   
  display: grid;
  gap: 20px;
  margin-top: 100px;
}

#descript {
  font-family: 'Wavehaus', sans-serif;
  font-size: 16px;
  color: #223809;
  font-weight: bold;
  margin-bottom: 2px;
}

#recover-btn {
  background-color: #5A7011;
  color: #FFF8CE;
  border-radius: 20px;
  border: none;
  width: 240px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Wavehaus', sans-serif;
  margin-top: 20px;

  display: block;        
  margin-left: 120px !important; 
  margin-right: auto;  
}

#recover-btn:hover {
  background-color: #223809;
  color: #FFF8CE;
}

.recovery-container {
  background-color: #FFF8CE;
}

#recover {
  margin-bottom: 10px;
  margin-top: 2px;
}

#NaranjiLogo {
  margin-left: 170px;
}

h1 {
  margin-left: 80px;
  font-family: 'ChiffonePersonalUse', serif;
  font-size: 40px;
  color:#223809;
}

#back-to-login {
  margin-top: 2px;
  font-size: 15px;
  margin-left: 145px;
  color: #223809;
  font-family: 'Wavehaus', sans-serif;
  font-weight: bold;
}

#login-link {
  color: #62b108;          
  font-weight: bold;       
  font-size: 15px;      
  text-decoration: underline; 
  font-family: 'Wavehaus', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#login-link:hover {
  color: #3d4f21;           
}

#recovery-username {
  display: block;
  margin-top: 0;
  border: 1px solid #ccc; 
  border-radius: 20px; 
  padding: 8px 15px;  
  width: 90%;        
  outline: none;   
  font-family: 'Wavehaus', sans-serif;
}

#recovery-phrase {
  display: block;
  margin-top: 0;
  border: 1px solid #ccc; 
  border-radius: 15px; 
  padding: 8px 15px;  
  width: 90%;        
  outline: none;   
  font-family: 'Wavehaus', sans-serif;
}

#your-key {
  font-family: 'Wavehaus', sans-serif;
  font-weight: bold;
  color: #223809;
  font-size: 20px;
}

#key-text {
  font-family: 'Wavehaus', sans-serif;
  font-weight: bold;
  color: #62b108;    
  font-size: 20px;       
}

#master-key-display {
  margin-left: 95px !important;
  margin-top: -10px !important;
}