
@import url('https://fonts.cdnfonts.com/css/wavehaus');
@import url('https://fonts.cdnfonts.com/css/chiffonepersonaluse');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

h2 {
  font-family: 'Wavehaus', sans-serif;
  color: #223809;
  font-size: 40px;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  flex: 0 0 300px;  /* stay fixed at 300px */
  background-color: #223809;
  color: white;
  padding: 20px;
}

.main-content {
  flex: 1;          /* fill out the rest of the content */
  background-color: #fdfae1;
  padding: 40px;
}

.logo-and-username {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'ChiffonePersonalUse', serif;
}

#logo {
  width: 40px;
  height: 60px;
}

#username {
  font-size: 30px;
  color: #fdfae1;
}

.categories-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;       
  gap: 15px; 
  margin-top: 20px;
  height: 35px;
  margin-bottom: 20px;
  height: auto;
  margin-bottom: 10px;
}

#login-button, #notes-button, #chat-button, #statistics-button {
  width: 100%;
  padding: 10px;
  border-radius: 20px; 
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%; 
  font-family: 'Wavehaus', sans-serif;
  font-size: 15px;
  color: #fdfae1;
  background-color: #3d5c26;
}

#login-button {
  background-color: #3d5c26; 
  color: #fdfae1;
  font-family: 'Wavehaus', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

#notes-button {
  background-color: #3d5c26; 
  color: #fdfae1;
  font-family: 'Wavehaus', sans-serif;
  font-size: 15px;
  cursor: pointer;
}

#chat-button {
  background-color: #3d5c26; 
  color: #fdfae1;
  font-family: 'Wavehaus', sans-serif;
  font-size: 15px;
  cursor: pointer;
  grid-column: 1; 
  grid-row: 2;
}


#notes-button:hover {
  background-color: #ff6b35; 
  color: #fdfae1;
}

#login-button:hover {
  background-color: #ff6b35; 
  color: #fdfae1;
}

#notes-button:hover {
  background-color: #ff6b35; 
  color: #fdfae1;
}

#chat-button:hover{
  background-color: #ff6b35; 
  color: #fdfae1;
}

#statistics-button {
  background-color: #ff6b35;
  color: #fdfae1;
  font-family: 'Wavehaus', sans-serif;
  font-size: 15px;
  cursor: pointer;
  grid-column: 2; 
  grid-row: 2;
}

#statistics-button:hover{
  background-color: #ff6b35; 
  color: #fdfae1;
}

#statistics {
  margin-left: 30px;
}

