{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="presentationStyles.css">
        <script src="script.js" defer></script>
        <title>Naranji</title>
    </head>
    <body>
        <main>
            <div class="presentation">
                <img id="NaranjiLogo" src="NaranjiLogo.png">
                <h1 id="Naranji">Naranji</h1>
                <h2 id="Tagline">Your digital life squeezed into one place</h2>
                <pre id="Description">
                    Private information manager designed to securely store,
                    generate and examine passwords and encrypted notes.
                </pre>
                <a href="signUp.html">
                    <button id="GetStarted">Get Started</button>
                </a>
            </div>
        </main>
    </body>