{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'manager/css/secretNotesStyles.css' %}">  
        <script src="{% static 'manager/js/scriptSecretNotes.js' %}" defer></script>      
        <title>Naranji | Secret Notes</title>
    </head>
    <body>
        
        <p id="cookie-msg"></p>
        <div class="app-container">
            <aside class="sidebar">
                <div class="sidebar-content">

                    <div class="logo-and-username">
                        <img id="logo" src="{% static 'manager/assets/NaranjiLogo.png' %}">
                        <p id="username">Filip Oszkar</p>
                    </div>

                    <div class="categories-buttons">
                        <a href="{% url 'home' %}">
                            <button id="login-button">Logins</button>
                        </a>
                        <a href="secretNotes.html">
                            <button id="notes-button">Notes</button>
                        </a>
                    </div>

                    <div class="sidebar-list">
                        <button id="add-item-button" onclick="showAddForm()">+ Add New Item</button>
                        <div id="notes_list"></div>
                    </div>

                    <div class="pagination-container">
                        <button id="prev-button" onclick="prevPage()">Prev</button>
                        <span id="pagination-info">1 / 1</span>
                        <button id="next-button" onclick="nextPage()">Next</button>
                    </div>

                </div>
            </aside>
            <main class="main-content">
                <div id="credential-fullview">
                    <div class="login-info">

                        <div class="website-name-logo">
                            <div class="logo-container">
                               
                                <img id="display-notes-logo" src="{% static 'manager/assets/NotesIcon.png' %}" alt="logo" onclick="document.getElementById('logo-input').click()">
                                <input type="file" id="logo-input" style="display:none" onchange="previewImage(this)"> 
                            </div>

                            <div id="name-container">
                                <h2 id="display-notes-name">Select an item</h2>
                            </div>
                        </div>

                        <div class="email-password">
                            <div class="input-group">
                                <textarea id="display-notes-bodytext" placeholder="Write your notes here..."></textarea>
                            </div>
                        </div>

                        <div class="edit-and-delete">
                            <button id="save-button">Save</button>
                            <a href="shareNote.html">
                                <button id="share-note-button">Share</button>
                            </a>
                            <button id="edit-button" onclick="startEnding()">Edit</button>
                            <button id="delete-button" onclick="deleteItem()">Delete</button>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    
    </body>