{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'manager/css/statisticsStyles.css' %}">  
        <script src="{% static 'manager/js/scriptStatistics.js' %}" defer></script> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>      
        <title>Naranji | Statistics</title>
    </head>
    <body>
        
        <p id="cookie-msg"></p>
        <div class="app-container">
            <aside class="sidebar">
                <div class="sidebar-content">

                    <div class="logo-and-username">
                        <img id="logo" src="{% static 'manager/assets/NaranjiLogo.png' %}">
                        <p id="username">Filip Oszkar</p>
                    </div>

                    <div class="categories-buttons">
                        <a href="{% url 'home' %}">
                            <button id="login-button">Logins</button>
                        </a>
                        <a href="{% url 'notes_page' %}">
                            <button id="notes-button">Notes</button>
                        </a>
                        <a href="{% url 'chat' %}">
                            <button id="chat-button">Chats</button>
                        </a>
                        {% if  user.is_superuser or user.role.name == "Admin" %}
                        <a href="{% url 'statistics_page' %}">
                            <button id="statistics-button">Statistics</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </aside>
            <main class="main-content">
                <h2 id="statistics">Statistics</h2>
                <div id="statistics-wrapper" style="margin-left: 20px; text-align: left;">
                    <h3 style=" font-family: Wavehaus, sans-serif; margin-top: 70px; margin-bottom: 30px; margin-left: 47px; color: #223809; font-size: 15px;">
                        Number of Credentials/Notes
                    </h3>

                    <div id="general_stats" style="width: 300px; margin: 0;">
                        <canvas id="vaultChart"></canvas>
                    </div>
                </div>
            </main>
        </div>
    </body>